html {
  font-size: 18px;
  line-height: 1.4;
  color: black;
  font-family: Helvetica;
  background-color: white;

}

div {
  display: block;
}

.background {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: auto;
}




.background .menubar {
  width: 960px;
  padding: 1rem 0;
  color: white;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 3.5rem;
  margin-right: 2rem;
  align-self: center;



}

.menubar img {
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
  color: white;

}

.logo {
  align-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: inline-flex;
}
.logo span {
  align-items: center;
  align-content: center;

}
.menu{
padding: 1rem 0rem 1rem 2rem;
align-items: center;
align-content: center;
justify-content: flex-end;
margin-right: 2rem;
margin-left: 7.5rem;


}

.menu ul {
  color: white;
  display: flex;
  justify-content: flex-end;

}

ul li {
  padding: 1rem 2rem 1rem 2rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;

}
