html {
  font-size: 18px;
  line-height: 1.4;
  color: black;
  font-family: Helvetica;
  background-color: black;

}

div {
  display: block;
}

.background {
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: auto;
}


}

.menu-bar {
  width: 960px;
  display: flex;
  background-color: cadetblue;
  height: auto;
  padding: 1rem 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar img {
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
  color: white;
  display: flex;

}

.menu-bar span {
color: white;
display: flex;
}

menu .ul {
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
  color: white;
  display: flex;
}
